body {
  background-color: black;
  color: white;
  width:100vw;
  height:100vh;
#loader {     
 position: fixed;
 left: 0px; 
 top: 0px; 
 width: 100%;     
 height: 100%;    
 z-index: 9999;      
background: url('sprites.gif') 50% 50% no-repeat rgb(249,249,249);  }  
}
.light{
		background-color:white;
		color:black;
		}
.imgb{
				border:4px solid black;
				}
.header {
		
	 vertical-align:top;
	 margin:20px;
  font-size: "Times New Roman", serif;
  text-align: center;
  margin-top: 2px;

}

.heading {
  overflow:hidden;
  border-right: 5px solid orange;
  white-space: nowrap;
  padding:20px;
  letter-spacing: .14em;

  }
.heading:hover{
  				background-color: white;
  				color:black;
  				}


.title{
  font-family: 'Roboto Mono', monospace;
}


img {
  width: 150px;
  border: 4px solid white;
  border-radius: 4px ;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;


}
.icon{
  
  float:right;
}
