body {
  background-color: black;
  color: white;
  justify-content: center
}


.header {
  padding: 35px;
  font-size: "Times New Roman", serif;
  text-align: center;
  color: white;
  margin-top: 2px;

}

.heading {
  overflow: hidden;
  border-right: 5px solid orange;
  white-space: nowrap;
  margin: 0;
  letter-spacing: .14em;
  animation: type 3.5s steps(40, end), blink-caret .5s step-end infinite;


}
.title{
  font-family: 'Roboto Mono', monospace;
}

@keyframes type {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: orange;
  }
}

img {
  width: 150px;
  border: 4px solid white;
  border-radius: 4px ;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;


}
.icon{
  
  float:right;
}
