body {
  background-color: black;
  color: white;
  width: 100%;
  height: 100vh;
}

.light {
  background-color: white;
  color: black;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: white;
}


.imgb {
  border: 4px solid black;
}

.header {

  vertical-align: top;
  margin: 5px;
  padding: 5px;
  font-family: "Times New Roman", serif;
  text-align: center;

}

.heading {
  overflow: hidden;
  border-right: 2px solid orange;
  white-space: nowrap;
  font-family: "Times New Roman", serif;
  font-size: 10vw;

}

.heading:hover {
  background-color: white;
  color: black;
}


.title {
  font-family: 'Roboto Mono', monospace;
  font-size: 5vw;
}


a>img {
  width: 150px;
  border: 4px solid white;
  border-radius: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 90%;
  left: 50%;



}

.getStart {

  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;

}

.btn {
  padding: 5vw 50px;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  border-radius: 50px;
  color: white;
  background-color: #18d26e;
}

.btn:hover {
  background-color: #fff;
  color: #18d26e;

}

.logo>h1 {
  margin-top: 5px;
  padding-bottom: 10px;
  font-family: "Black Ops One";
  font-size: 10vw;

}